<!DOCTYPE HTML>
<html>
	<head>
	  <title>Vending Machine Kata</title>
	  <link rel="stylesheet" type="text/css" href="/style.css" />
	  <script src="/jquery.js"></script>
	  <script src="/controllers/index.js"></script>
	  <meta name="viewport" content="width=device-width, initial-scale=0.5">
	</head>
<body>
	<div id="div_contain">
		<img id="vendingImg" src="images/vm.png" />
		<div id="coinText"><%- coinCount %></div>
		<img onclick="insertCoin(2.5,19.05)" id="penny" src="images/penny.png" />
		<img onclick="insertCoin(5,21.21)" id="nickel" src="images/nickel.png" />
		<img onclick="insertCoin(2.268,17.91)" id="dime" src="images/dime.png" />
		<img onclick="insertCoin(5.67,24.26)" id="quarter" src="images/quarter.png" />
		<img id="cola" src="images/cola.png" />
		<img id="chips" src="images/chipbag.gif" />
		<img id="candy" src="images/candy.png" />
		<img onclick="requestCola()" id="colaLabel" src="images/cola.jpg" />
		<img onclick="requestChips()" id="chipLabel" src="images/chiplogo.jpg" />
		<img onclick="requestCandy()" id="candyLabel" src="images/candylogo.jpg" />
		<div class="whiteBackground"></div>
		<div id="pennylabel"><%- coinAmount.p %></div>
		<div id="nickellabel"><%- coinAmount.n %></div>
		<div id="dimelabel"><%- coinAmount.d %></div>
		<div id="quarterlabel"><%- coinAmount.q %></div>
		<button onclick="returnCoins()" id="spareSomeChange">COIN RETURN</button>
	</div>
	<%if (shouldLoad == true) { %>
		<script>setTimeout(function(){ window.location.href='/index'; }, 1000);</script>
	<% } %>
</body>
</html>
