#div_contain{
    position: absolute; 
    z-index: 1;
}

#vendingImg{
    position: absolute; 
    z-index: 2;
    max-width: 1000px;
    max-height: 1200px;
    width: auto;
    height: auto;
    margin:auto;
}

#coinText{
    position: relative;
    top: 244px; 
    left: 601px;
    z-index: 3;
    width: 92px;
    height: 50px;
    background-color: white;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}

.whiteBackground{
    position: absolute;
    top: 378px; 
    left: 603px;
    z-index: 2;
    width: 92px;
    height: 202px;
    background-color: white;
}

#penny{
    position: relative; 
    z-index: 3;
    max-width: 88px;
    max-height: 88px;
    width: auto;
    height: auto;
    margin:auto;
    top: 144px; 
    left: 44px;
}

#pennylabel{
    position: absolute; 
    z-index: 3;
    margin:auto;
    top: 244px; 
    left: 144px;
}

#nickel{
    position: relative; 
    z-index: 3;
    max-width: 88px;
    max-height: 88px;
    width: auto;
    height: auto;
    margin:auto;
    top: 244px; 
    left: -47px;
}

#nickellabel{
    position: absolute; 
    z-index: 3;
    margin:auto;
    top: 344px; 
    left: 144px;
}

#dime{
    position: relative; 
    z-index: 3;
    max-width: 88px;
    max-height: 88px;
    width: auto;
    height: auto;
    margin:auto;
    top: 344px; 
    left: -138px;
}

#dimelabel{
    position: absolute; 
    z-index: 3;
    margin:auto;
    top: 444px; 
    left: 144px;
}

#quarter{
    position: relative; 
    z-index: 3;
    max-width: 88px;
    max-height: 88px;
    width: auto;
    height: auto;
    margin:auto;
    top: 444px; 
    left: -228px;
}

#quarterlabel{
    position: absolute; 
    z-index: 3;
    margin:auto;
    top: 544px; 
    left: 144px;
}

#cola{
    position: relative; 
    z-index: 3;
    max-width: 88px;
    max-height: 88px;
    width: auto;
    height: auto;
    margin:auto;
    top: 400px; 
    left: 80px;
}

#colaLabel{
    position: absolute; 
    z-index: 3;
    max-width: 88px;
    max-height: 88px;
    width: auto;
    height: auto;
    margin:auto;
    top: 380px; 
    left: 605px;
}

#chips{
    position: relative; 
    z-index: 3;
    max-width: 88px;
    max-height: 88px;
    width: auto;
    height: auto;
    margin:auto;
    top: 290px; 
    left: -80px;
}

#chipLabel{
    position: absolute; 
    z-index: 3;
    max-width: 88px;
    max-height: 88px;
    width: auto;
    height: auto;
    margin:auto;
    top: 527px; 
    left: 605px;
}

#candy{
    position: absolute; 
    z-index: 3;
    max-width: 88px;
    max-height: 88px;
    width: auto;
    height: auto;
    margin:auto;
    top: 470px; 
    left: 288px;
    -ms-transform: rotate(-74deg); /* IE 9 */
    -webkit-transform: rotate(-74deg); /* Chrome, Safari, Opera */
    transform: rotate(-74deg);
}

#candyLabel{
    position: absolute; 
    z-index: 3;
    max-width: 88px;
    max-height: 88px;
    width: auto;
    height: auto;
    margin:auto;
    top: 457px; 
    left: 605px;
}

#spareSomeChange{
    position: absolute; 
    z-index: 3;
    max-width: 88px;
    max-height: 88px;
    width: auto;
    height: auto;
    margin:auto;
    top: 340px; 
    left: 611px;
}
